html{
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;

}

.navbar{
  height: 10vh;
  display: flex;
  align-items: center;
  background-color: red;
  font-weight: 400;
  justify-content: right;

}

.navbar-buttons li{
  display: inline-block;
  padding: 16px 32px;

}

.padding-div{
  display: flex;
  background-color: pink;
  width: 80vw;
  justify-content: center;

}

.wrapper{
  display: flex;
  justify-content: center;
}