html{
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;

}

.content{
  display: flex;
}

.navbar{
  height: 10vh;
  display: flex;
  align-items: center;
  background-color: #EEEADE;
  font-weight: 400;
  justify-content: right;
  border-bottom-style: solid;

}

.navbar ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-buttons li{
  padding: 16px 16px;
}

.padding-div{
  display: flex;
  background-color: pink;
  width: 80vw;
  justify-content: center;

}

.wrapper{
  display: flex;
  justify-content: center;
}

.sidebar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  height: 100vh;
}

.sidebar-elements{
  position: fixed;
}

.right-sidebar{
  transform: rotate(90deg);
}

.button{
  border: solid;
  padding: 8px;
  border-radius: 8px;
  margin: 16px 16px;
  transition: all 0.5s;
  position: relative;
  text-decoration: none;
  color: black;
}

.button:hover{
  background-color: #D7D1C4;
}
