html{
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  background-color: #EEEADE;

}

button{
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

p a{
  font-weight: 600;
}


p{
  font-size: 1.3rem;
  margin: 1rem 0;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li{
  font-size: 1.3rem;
  padding: 0.3rem 0;
}

h2{
  margin: 0.75rem 0;
  font-weight: 400;
}

.bold{
  font-weight: 600;
}

.content{
  display: flex;
}

.navbar{
  height: 10vh;
  display: flex;
  align-items: center;
  font-weight: 400;
  justify-content: right;
  border-bottom-style: solid;

}

.navbar ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-buttons li{
  padding: 16px 16px;
}

.padding-div{
  display: block;
  width: 60vw;
  justify-content: center;
  padding: 0 10vw;
}

.wrapper{
  display: flex;
  justify-content: center;
}

.sidebar{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 10vw;
  height: 90vh;
}

.sidebar-elements{
  position: fixed;
  transform: translateY(-5rem);
}

.sidebar-elements li{
  padding: 10px;
  transition: all 0.5s;
}

.sidebar-elements.left-sidebar li:hover{
  transform: translateY(-5px);
  border-radius: 8px;
  background-color: #D7D1C4;
}


.flip{
  transform: rotate(90deg) translateX(-3rem);
  font-size: 1rem;
}


.flip:hover{
  transform: translateY(-5px) rotate(90deg) translateX(-3rem);
  border-radius: 8px;
  background-color: #D7D1C4;
}

.button{
  border: solid;
  padding: 8px;
  border-radius: 8px;
  margin: 16px 16px;
  transition: all 0.5s;
  position: relative;
  text-decoration: none;
  color: black;
}

.button:hover{
  background-color: #D7D1C4;
}

.section{
  padding: 5rem 0;
}

.section-heading{
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.section-heading-line{
  flex: 1 0 auto;
  height: 1.5px;
  background-color: black;
  border: none;
  margin: 2rem;

}

.skill-table{
  list-style-type: "\025AA";
  list-style-position: inside;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5px;
}


.experience-table{
  display: flex;
}

.companies{
  flex: 1 0 auto;

}

.company-name{
  cursor: pointer;
  border: 0;
  background-color: #EEEADE;
  transition: all 0.5s;
  width: 100%;
  text-align: left;
}

.company-name:hover{
  background-color: #D7D1C4;
}

.job{
  padding: 0 5rem;
}

.job-date{
  font-size: 0.95rem;
  margin-top: 0;
}

.job-description{
  list-style-type: "\025AA";
  list-style-position: inside;
}

.job-description li{
  font-size: 1.1rem;
}
